requests
dashscope
grpcio
grpcio-tools
protobuf
openai
opuslib
mcp
httpx
httpx-sse
PyMySQL
flask
fastapi==0.115.9
starlette==0.45.3
pydantic>=2,<3
uvicorn[standard]>=0.27,<1
websocket-client
websockets
zhdate
chinesecalendar
paho-mqtt
PyYAML
