CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768

CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_AUDIO_MIC_CHANNELS=1
CONFIG_AUDIO_ENABLE_AFE=y
CONFIG_AUDIO_AFE_HIGH_PERF_MODE=y
CONFIG_AUDIO_AEC_ENABLE=y
CONFIG_AUDIO_REF_DELAY_FRAMES=1

CONFIG_AUDIO_USB_UAC_ENABLE=y
CONFIG_AUDIO_USB_SPK_BUFFER_MS=250
CONFIG_AUDIO_USB_UAC_INPUT_ENABLE=y
CONFIG_AUDIO_USB_MIC_GAIN_DB=0
CONFIG_AUDIO_USB_LOG_INTERVAL_SEC=2

CONFIG_UAC_SPEAKER_CHANNEL_NUM=1
CONFIG_UAC_MIC_CHANNEL_NUM=1
CONFIG_UAC_SAMPLE_RATE=16000
CONFIG_UAC_SPK_INTERVAL_MS=10
CONFIG_UAC_MIC_INTERVAL_MS=10
CONFIG_UAC_SPK_NEW_PLAY_INTERVAL=100
CONFIG_UAC_TUSB_MANUFACTURER="WZK"
CONFIG_UAC_TUSB_PRODUCT="ESP32-S3 USB AEC Audio"
CONFIG_UAC_SUPPORT_MACOS=y

CONFIG_UAC_TINYUSB_TASK_PRIORITY=5
CONFIG_UAC_TINYUSB_TASK_CORE=-1
CONFIG_UAC_SPK_TASK_PRIORITY=5
CONFIG_UAC_SPK_TASK_CORE=-1
CONFIG_UAC_MIC_TASK_PRIORITY=5
CONFIG_UAC_MIC_TASK_CORE=-1
